<!-- photos.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Photo Gallery</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1em;
    }
  </style>
</head>
<body>
<h1>Photo Gallery</h1>
<img th:src="${photoUrl}" alt="Photo">
</body>
</html>
